@model UserModel


<style>
    .login-container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    .login-form {
        text-align: center;
        border: 1px solid #ccc;
        padding: 20px;
        border-radius: 8px;
        width: 300px;
        margin: auto;
    }

        .login-form div {
            margin-bottom: 10px;
        }

        .login-form label {
            display: block;
        }

        .login-form input,
        .login-form select {
            width: 100%;
            padding: 8px;
            box-sizing: border-box;
            margin-top: 4px;
        }

        .login-form button {
            background-color: #4CAF50;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
</style>
@*
Yanhan Chen
991647343
Group Assignment
User Login view
*@
@{
    ViewData["Title"] = "User Login";
    var returnUrl = Context.Request.Query["ReturnUrl"];
    var showAccessDeniedMessage = !string.IsNullOrEmpty(returnUrl);
}

<div class="login-container">
    <div class="login-form">
        <h1>@ViewData["Title"]</h1>
        @if (showAccessDeniedMessage)
        {
            <div class="alert alert-warning">
                <strong>Notice：</strong> You need to log in to access the requested page。
            </div>
        }
        <form asp-controller="Account" asp-action="Login" method="post">
            <div>
                <label asp-for="Username">Username：</label>
                <input asp-for="Username" />
                <span asp-validation-for="Username" class="text-danger"></span>
            </div>

            <div>
                <label asp-for="Password">Password：</label>
                <input asp-for="Password" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <span asp-validation-summary="ModelOnly" class="text-danger"></span>

            <button type="submit">Login</button>
        </form>

        <div style="text-align: center; margin-top: 15px;">
            <p>No account?<a asp-controller="Account" asp-action="Register">Sign up here</a></p>
        </div>
    </div>
</div>
