<!-- Views/Inventory/Index.cshtml -->
@model GroupAssignment.Models.UserModel
<style>
    body {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
    }

    div {
        text-align: center;
    }

    h1 {
        text-align: center;
    }

    p {
        margin-bottom: 5px;
    }

    .role {
        font-size: 14px; 
    }

    .btn {
        margin-top: 10px; 
    }
</style>
@{
    ViewData["Title"] = "Inventory Management";
}


<h1>@ViewData["Title"]</h1>

<div>
   @if (TempData.ContainsKey("UserId") && TempData.ContainsKey("Username") && TempData.ContainsKey("UserRole"))
    {
        var userId = TempData["UserId"] as int?;
        var username = TempData["Username"] as string;
        var userRole = TempData["UserRole"] as string;

        <div>
            <p>Welcome, @username!</p>
            <p>You are: @userRole</p>
        </div>
        @if (userRole == "Manager")
        {
            <div>
                <a href="/Account/Users" class="btn btn-primary">View All Users</a>
            </div>
        }
        <a href="@Url.Action("ProductList", "Inventory")" class="btn btn-primary">Product List</a>
        <a href="@Url.Action("Index", "Order")" class="btn btn-primary">View Orders</a>


    }
    else
    {
        <p>User information not available.</p>
    }

</div>
